.footer {
    display: flex;
    flex-direction:  column;
    background-color: rgb(25, 25, 25);
    padding: 50px 8%;
    color: white;
    font-weight: lighter;
    gap: 20px;

}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;

}

.footer__nav__link {
    padding: 0 20px;
    border-right: 1px solid white;

}

.footer__nav__link:last-child {
    border-right: none;

}

.footer__copyrights {
    font-size: 12px;
    color: rgb(187, 187, 187);
}

.footer__contact {
    display: flex;
    justify-content: space-between;

}

.footer__contact__socials {
    display: flex;
    gap: 15px;

}

.footer__contact__download {
    display: flex;
    gap: 15px;

}

@media (max-width: 865px){
    .footer__nav{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, 50px);
        align-items: center;
        text-align: center;
        font-size: 14px;
    }
    .footer__nav__link {
        padding: 0;
        border: none;
    
    }
}

@media (max-width: 580px) {
    .footer__contact {
        flex-direction: column;
        gap: 20px;
    }
}