.main {
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 40px
}

.main__title {
    background-color: rgb(52, 52, 52);
    color: white;
    font-weight: lighter;
    padding: 6px 8%;
    box-shadow: 0 1px 5px 0 black;

}

.main__nav {
    display: grid;
    padding: 0 8%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;

}

.main__nav__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.main__nav__item:hover {
    background-color: rgba(0, 0, 0, 0.3);

}

.main__nav__item__img {
    z-index: -1;

}

.main__nav__item__title {
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    text-overflow: ellipsis;
    
}